name: CI-CD-Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:

  test-train-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'

    - name: Install training dependencies
      run: pip install -r training/requirements.txt

    - name: Run tests
      run: pytest tests/ || echo "No tests folder"
    #- name: Install test dependencies
    #  run: pip install pytest

    - name: Run training
      run: python training/train.py

    - name: Commit updated model
      run: |
        git config user.name "github-actions"
        git config user.email "actions@github.com"
        git add model_artifacts/*.pkl
        git add api/model.pkl
        git commit -m "CI/CD: Updated model via training pipeline" || echo "No changes"
        git push
